<footer style="background:#eee; text-align:center; padding:1rem; margin-top:2rem;">
  <p style="margin:0;">© 2025 Elitor Education Systems &#8226 Powered by Trendset Info Private Limited with Astro</p>
</footer>
