<header style="padding: 1rem; text-align: center;">
  <h2 style="margin: 0;">Welcome to the Elitor Education Systems</h2>
<div class="top-header">
  <div class="quick-links">
    <a href="/">Home</a>
    <a href="/indexabout">About</a>
    <a href="/indexlogin">Login</a> <!-- New Link -->
      <p>Don't have an account? <a href="/indexregister">Register here</a></p>
  </div>
  <img src="/images/logo.svg" alt="Elitor Education System Logo" width="160" />
</div>

<style>
  ul, li {
    list-style: none;
    padding: 0;
  }
</style>

<nav style="margin-top: 0.5rem;">
  <!-- Navigation links here -->
  <ul class="nav-links">
    <li><a href="/home">Home</a></li>
    <li><a href="/tracks">Learning Tracks</a></li>
    <li><a href="/tutoring">Tutoring</a></li>
    <li><a href="/counselling">Counselling</a></li>
    <li><a href="/careers">Careers</a></li>
    <li><a href="/resources">Resources</a></li>
  </ul>
    <a href="/start" class="cta-button">Start Learning</a>
</nav>

</header>
