---
const { title } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HomeContent from '../components/HomeContent.astro';
---

<html lang="en">
  <head>
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/theme.css" />
  </head>
  <body>
	<Header />
	<main>
		<HomeContent />
	</main>
	<Footer />
  </body>
</html>