---
const { title } = Astro.props;
import RegisterForm from '../components/RegisterForm.astro';
---

<html lang="en">
  <head>
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/theme.css" />
  </head>
  <body>
	<main>
		<RegisterForm />
	</main>
  </body>
</html>
```
